# 가상환경 제외
venv/
myvenv/
env/

# Python 캐시
__pycache__/
*.py[cod]

# 기타 무시
.vscode/
.idea/
*.log
.ipynb_checkpoints/

# 특정 폴더 무시
06_opencv/img*
08_opencv/img/101_ObjectCategories*
09_opencv/src/faces/

# 특정 파일 무시
filebrowser.db  
filebrowser.exe
08_opencv/img/drive.avi
09_opencv/data/*.xml
